<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	 <!-- 别名 -->  
    <typeAliases>  
        <package name="com.example.demo.domain"/>
    </typeAliases>   
      
    <!-- ORM映射文件 -->  
    <mappers>  
    	<!-- resource 指的就是 classes 文件夹 -->
        <mapper resource="mapper/userMapper.xml" />  
    </mappers>  
      
</configuration>